<%- include('partials/_header') %>
<div class="container mt-5 content-container">
  <header>
    <h1 class="text-center  mb-5" id="name-title"><i class="fa-solid fa-circle-info"></i>About Me</h1>
    <p class="intro-text fst-italic mb-5">
      Hello! My name is <strong>Mohammadreza Heidarpoor</strong>, and I’m 24 years old. I am currently pursuing a 
      <strong>Bachelor of Information Technology – Networking and IT Security</strong> at 
      <strong>Ontario Tech University</strong> in Oshawa, Ontario, with a projected graduation in 2027.
    </p>
    <p class="intro-text fst-italic mb-4">
      In my earlier years, I played "DOTA 2" professionally, achieving high ranks and streaming my gameplay on Twitch. This experience was both exciting and rewarding, but after about a year and a half, I discovered my passion for technology. This led me to start training for certifications such as MCSA and CCNA to begin my career in IT. During this time, I worked as a technician at a computer shop, where my primary responsibilities included assembling PCs, installing operating systems, and configuring popular software for clients.
    </p>
    <p class="intro-text fst-italic mb-4">
      My passion for technology and problem-solving has naturally driven me toward a career in networking and IT security. Over the years, I have developed a strong foundation in networking concepts, security protocols, and technical troubleshooting. I continue to deepen my knowledge through both formal education and hands-on experience.
    </p>
    <p class="intro-text fst-italic mb-4">
      I am someone who constantly seeks opportunities to challenge myself and grow in the tech industry. I take pride in being adaptable and committed to continuous learning, whether through professional certifications or personal projects. One of my hobbies includes video editing, where I use DaVinci Resolve to create and edit short videos. Most of my work involves collaborating with makeup artists for Instagram content, though I also occasionally edit wedding videos.
    </p>
    <p class="intro-text fst-italic mb-3">
      Thank you for taking the time to learn a bit about me!
    </p>
    <p id="social-text" class="text-center mt-3 text-indigo fw-light mt-5">
      Feel free to check out my Resume
    </p>
    <section class="text-center text-white">
      <a href="/content/Mohammadreza-Heydarpoor-RESUME-new.pdf" class="btn btn-dark" target="_blank">
        <i class="fa-solid fa-download"></i> Download Resume
      </a>
    </section>
  </header>

  <main class="mt-5">
    <h4 class="text-center mb-5">Here are some of the certifications I have accuired over the years:</h4>
    <div class="row">
      <!-- Image 1 -->
      <div class="col-md-4 text-center mb-4">
        <figure>
          <a href="/images/ccna-expired.jpeg" target="_blank">
            <img src="/images/ccna-expired.jpeg" alt="certification-1" class="img-fluid rounded hover-effect">
          </a>
          <figcaption><h6>CCNA</h6></figcaption>
        </figure>
      </div>
      <!-- Image 2 -->
      <div class="col-md-4 text-center mb-4">
        <figure>
          <a href="/images/ccnp-encor-1.png" target="_blank">
            <img src="/images/ccnp-encor-1.png" alt="certification-2" class="img-fluid rounded hover-effect">
          </a>
          <figcaption><h6>CCNP ENCOR</h6></figcaption>
        </figure>
      </div>
      <!-- Image 3 -->
      <div class="col-md-4 text-center mb-4">
        <figure>
          <a href="/images/computer-hardware-basics.png" target="_blank">
            <img src="/images/computer-hardware-basics.png" alt="certification-3" class="img-fluid rounded hover-effect">
          </a>
          <figcaption><h6>Computer Hardware Basics</h6></figcaption>
        </figure>
      </div>
      <!-- Image 4 -->
      <div class="col-md-4 text-center mb-4">
        <figure>
          <a href="/images/endpoint-security.png" target="_blank">
            <img src="/images/endpoint-security.png" alt="certification-4" class="img-fluid rounded hover-effect">
          </a>
          <figcaption><h6>Endpoint Security</h6></figcaption>
        </figure>
      </div>
      <!-- Image 5 -->
      <div class="col-md-4 text-center mb-4">
        <figure>
          <a href="/images/Intro-to-cybersecurity.jpeg" target="_blank">
            <img src="/images/Intro-to-cybersecurity.jpeg" alt="certification-5" class="img-fluid rounded hover-effect">
          </a>
          <figcaption><h6>Intro To CyberSecurity</h6></figcaption>
        </figure>
      </div>
      <!-- Image 6 -->
      <div class="col-md-4 text-center mb-4">
        <figure>
          <a href="/images/network-support.png" target="_blank">
            <img src="/images/network-support.png" alt="certification-6" class="img-fluid rounded hover-effect">
          </a>
          <figcaption><h6>Network Support & Security</h6></figcaption>
        </figure>
      </div>
      <!-- Image 7 -->
      <div class="col-md-4 text-center mb-4">
        <figure>
          <a href="/images/Networking-Basics.png" target="_blank">
            <img src="/images/Networking-Basics.png" alt="certification-7" class="img-fluid rounded hover-effect">
          </a>
          <figcaption><h6>Networking Basics</h6></figcaption>
        </figure>
      </div>
      <!-- Image 8 -->
      <div class="col-md-4 text-center mb-4">
        <figure>
          <a href="/images/networking-devices-and-initial-configs.png" target="_blank">
            <img src="/images/networking-devices-and-initial-configs.png" alt="certification-8" class="img-fluid rounded hover-effect">
          </a>
          <figcaption><h6>Networking Devices & Initial Configurations</h6></figcaption>
        </figure>
      </div>
      <!-- Image 9 -->
      <div class="col-md-4 text-center mb-4">
        <figure>
          <a href="/images/python-essentials.png" target="_blank">
            <img src="/images/python-essentials.png" alt="certification-9" class="img-fluid rounded hover-effect">
          </a>
          <figcaption><h6>Python Essentials</h6></figcaption>
        </figure>
      </div>
    </div>
  </main>
</div>
<%- include('partials/_footer') %>
