<%- include('partials/_header') %>
<main class="container mt-5 text-center">
  <section class="intro p-4 rounded">
    <h1><i class="fa-solid fa-network-wired"></i>
      Mohammadreza Heidarpoor
    </h1>
    <p class="lead">
      Network Engineer & Video Editor
    </p>
    <a href="/about" class="link-fade">
    <img src="/images/img-for-about-removebg-preview.png" alt="My image" title="My image" class="img-fluid rounded-circle my-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded hover-effect" style="width: 320px; height: 360px;">
    </a>
    <p class="text-secondary">
      Let's get to know me then shall we?
    </p>
  </section>
</main>
<%- include('partials/_footer') %>
