<%- include('partials/_header') %>

<main class="container mt-5">
  <header class="text-center mb-4">
    <h1><i class="fas fa-project-diagram"></i>My Projects</h1>
    <p id="paragraph-on-projects">Here are some of the slides that I made for fun when I was trying Ubuntu Operating System:</p>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 hover-effect" style="overflow: hidden;">
        <div class="card ">
          <figure class="m-0">
            <a href="/images/ipv4withlogo.png" target="_blank">
            <img src="/images/ipv4withlogo.png" class="img-fluid" alt="IPv4 image" title="IPv4">
            </a>
            <figcaption class="card-body text-center">
              <h5 class="card-title">Slide 1: IPv4 Address Range</h5>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-md-4 mb-4 hover-effect" style="overflow: hidden;">
        <div class="card">
          <figure class="m-0">
            <a href="/images/ipv6add.jpg" target="_blank">
            <img src="/images/ipv6add.jpg" class="card-img-top" alt="IPv6 image" title="IPv6">
            </a>
            <figcaption class="card-body text-center">
              <h5 class="card-title">Slide 2: IPv6 Address Range</h5>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-md-4 mb-4 hover-effect" style="overflow: hidden;">
        <div class="card">
          <figure class="m-0">
            <a href="/images/OSI&TCP-IP.jpg" target="_blank">
            <img src="/images/OSI&TCP-IP.jpg" class="card-img-top" alt="OSI & TCP-IP image" title="OSI & TCP-IP">
            </a>
            <figcaption class="card-body text-center">
              <h5 class="card-title">Slide 3: OSI & TCP/IP Models</h5>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-md-4 mb-4 hover-effect" style="overflow: hidden;">
        <div class="card">
          <figure class="m-0">
            <a href="/images/telnetbasics.png" target="_blank">
            <img src="/images/telnetbasics.png" class="card-img-top" alt="Telnet image" title="Telnet">
            </a>
            <figcaption class="card-body text-center">
              <h5 class="card-title">Slide 4: Telnet Basics</h5>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-md-4 mb-4 hover-effect" style="overflow: hidden;">
        <div class="card">
          <figure class="m-0">
            <a href="/images/Telnet&SSH.png" target="_blank">
            <img src="/images/Telnet&SSH.png" class="card-img-top" alt="Telnet & SSH image" title="Telnet & SSH">
            </a>
            <figcaption class="card-body text-center">
              <h5 class="card-title">Slide 5: Telnet & SSH Configs</h5>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="col-md-4 mb-4 hover-effect" style="overflow: hidden;">
        <div class="card">
          <figure class="m-0">
            <a href="/images/sshconfig.png" target="_blank">
            <img src="/images/sshconfig.png" class="card-img-top" alt="SSH image" title="SSH">
            </a>
            <figcaption class="card-body text-center">
              <h5 class="card-title">Slide 6: SSH Configs</h5>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('partials/_footer') %>
