<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/content/app.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="@fortawesome/fontawesome-free/css/all.min.css">
    <script src="Script/app.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">INFR3120</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <% if (title=="Home") { %>
                <a class="nav-link active" href="/home">
               <% } else { %>
                <a class="nav-link" href="/home">
               <% } %>
                <i class="fa-solid fa-house"></i>Home</a>
            </li>
            <li class="nav-item">
              <% if (title=="About Us") { %>
                <a class="nav-link active" href="/aboutus">
              <% } else { %>
                <a class="nav-link" href="/aboutus">
              <% } %>
              <i class="fa-solid fa-info"></i>About Us</a>
            </li>
            <li class="nav-item">
              <% if (title=="Services") { %>
                <a class="nav-link active" href="/service">
               <% } else { %>
                <a class="nav-link" href="/service">
               <% } %>
              <i class="fa-solid fa-gear"></i>Services</a>
            </li>
              <li class="nav-item">
                <% if (title=="Contact Us") { %>
                  <a class="nav-link active" href="/contactus">
                 <% } else { %>
                  <a class="nav-link" href="/contactus">
                 <% } %>
              <i class="fa-regular fa-address-book"></i>Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Main Content-->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!--Footer-->
    <footer>

    </footer>
  </body>
</html>
