.body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  margin: 0;
}


.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: gray;
  border: 5px solid black;
  border-color: black;

  }

.navbar button {
  background-color: black;
  color: whitesmoke;
  border: black solid;
  padding: 10px 20px;
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.15s;
}

.navbar button:hover {
  background-color: whitesmoke;
  color: black;
}



#about-me-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 25px;
}