<footer class="bg-dark text-white py-3 mt-auto">
  <div class="container text-center">
      <p>&copy; 2024 Mohammadreza Heidarpoor. All rights reserved.</p>
      <a href="https://github.com/mohamadreza121" class="text-white me-3">
          <i class="fa-brands fa-github"></i> GitHub
      </a>
      <a href="https://www.linkedin.com/in/mohammadreza-heidarpoor/" class="text-white">
          <i class="fa-brands fa-linkedin"></i> LinkedIn
      </a>
  </div>
</footer>
