/* Contact webpage for laptop size */

.body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.sidebarnames {
  color: black;
}


.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 72px;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.801);
}

.sidebar-link {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition: 0.15s;
}

.sidebar-link:hover {
  opacity: 0.6;
}

.sidebar-link:active {
  opacity: 0.3;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
}



article h1 {
  color: rgba(245, 245, 245, 0.801);
  text-align: center;
  padding: 20px;
  width: 100%;
}



.contact-form-container {
  background-color: rgba(245, 245, 245, 0.801);
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

#message {
  height: 150px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox-container input {
  margin-right: 10px;
}

.contact-form button {
  padding: 10px;
  background-color: gray;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.15s;
}

.contact-form button:hover {
 background-color: lightgray;
 color: black;
}

#ending {
  text-align: center;
  color: rgba(245, 245, 245, 0.9);
}

#ending2 {
  text-align: center;
  color: rgba(245, 245, 245, 0.9);
}


footer {
  text-align: center;
  padding: 20px;
  position: relative;
  width: 100%;
  bottom: 0;
}

footer a img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}



a {
  text-decoration: none;
}
