body {
  font-family: Arial, sans-serif;
  background-color: wheat;
}

header {
  height: 500px;
  background-image: url('images/city.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.title-box {
  height: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.title-box h1 {
  color: white;
  font-size: 42px;
  text-align: center;
}


.header-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
}



.author {
  text-align: center;
  margin-top: -50px;
}

.author img {
  width: 100px;
  height: 100px;
  border: 5px solid blueviolet;
  border-radius: 50%;
  position: relative;
  top: -50px;
}

.author p {
  font-size: 18px;
}

.blog-posts {
  width: 60%;
  margin: 0 auto;
}

.blog-posts article {
  margin-bottom: 100px;
}

.blog-posts h2 {
  font-size: 32px;
}

.blog-posts h2 a {
  color: blueviolet;
  font-weight: bold;
  text-decoration: none;
}

.blog-posts h2 a:hover {
  text-decoration: underline;
}

.blog-posts p {
  font-size: 18px;
  line-height: 32px;
  color: rgb(100, 100, 100);
  margin-bottom: 20px;
}


.header-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
}

.post-image {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
