<%- include('partials/_header') %>
<main class="container mt-5 text-center">
  <section class="intro bg-light p-4 rounded">
    <h1 class="text-primary">
      I'm Mohammadreza Heidarpoor
    </h1>
    <p class="lead">
      Network Engineer and Video Editor
    </p>
    <img src="/images/img-for-about-removebg-preview.png" alt="My image" title="My image" class="img-fluid rounded-circle my-4" style="width: 200px; height: 200px;">
    <p class="text-secondary">
      Let's get to know me then shall we?
    </p>
  </section>
</main>
<%- include('partials/_footer') %>
